<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/edit-profile.css">
    <title>Edit profile</title>
</head>
<body>
    <main id="main" class="d-flex flex-column justify-content-start align-items-center">
        <div class="row mb-5">
            <div class="profile-col">

                <div class=" profile-container d-flex flex-column align-items-center justify-content-center">

                    <img class="mb-3" src="<%= user.profilePicture.url == undefined ?' https://images8.alphacoders.com/109/1098031.png' : user.profilePicture.url %>" alt="">
                    <span class="fw-bolder"><%= user.name %> </span>
                    <span class="fw-light"><%= user.email %> </span>
                </div>

            </div>


        </div>

        <div class="row settings-row">
            <h5>Profile settings</h5>
            
            <div class="flex flex-column settings-container gap-5">
                <div class="userInfo-container name-container d-flex align-items-center justify-content-between">
                    <div class="name d-flex flex-column">
                        <span><strong>Name</strong></span>
                        <span class="fw-lighter"><%= user.name %> </span>
                    </div>
                    <button id="nameButton" class="editButton">Change</button>
                </div>

                <div class="userInfo-container email-container d-flex align-items-center justify-content-between">
                    <div class="email d-flex flex-column">
                        <span><strong>Email</strong></span>
                        <span class="fw-lighter"><%= user.email %> </span>
                    </div>
                    <button id="emailButton" class="editButton">Change</button>
                </div>

                <div class="userInfo-container password-container d-flex align-items-center justify-content-between">
                    <div class="password d-flex flex-column">
                        <span><strong>Password</strong></span>
                        <span class="fw-lighter">Must be at least 6 characters long</span>
                    </div>
                    <button id="passwordButton" class="editButton">Change</button>
                </div>

                <div class="userInfo-container picture-container d-flex align-items-center justify-content-between">
                    <div class="picture d-flex flex-column">
                        <span><strong>Profile picture</strong></span>
                        <span class="fw-lighter">Max size: 5mb</span>
                    </div>
                    <button id="fileButton" class="editButton">Change</button>
                </div>
            </div>
        </div>

    </main>




    <div id="change-name-container" class="edit-container edit-name-container">
        <button type="button" class="btn-close btn-close-white close-containers mb-4" aria-label="Close"></button>
        <form name="userForm" class="userForm d-flex flex-column align-items-center" action="/update-name" method="post">
            <div class="mb-2 d-flex justify-content-around">
                <input type="text" name="updatedName" placeholder="Updated name">
                <input type="submit" value="Update">
            </div>
            <span class="text-danger" id="errorCard" style="display: none;">Error</span>
        </form>
    </div>


    <div id="change-email-container" class="edit-container edit-email-container">
        <button type="button" class="btn-close btn-close-white close-containers mb-4" aria-label="Close"></button>
        <form class="userForm d-flex flex-column align-items-center" action="/update-email" method="post">
            <div class="form-group d-flex flex-column align-items-center gap-3">
                <input type="email" name="updatedEmail" placeholder="Updated email">
                <input type="password" name="password" placeholder="Confirm your password">
                <input type="submit" value="Update">
            </div>
            <span class="text-danger" class="errorCard" style="display: none;">Error</span>
        </form>
    </div>

    <div id="change-password-container" class="edit-container edit-password-container">
        <button type="button" class="btn-close btn-close-white close-containers mb-4" aria-label="Close"></button>
        <form class="userForm d-flex flex-column align-items-center" action="/update-password" method="post">
            <div class="form-group d-flex flex-column align-items-center gap-3">
                <input type="password" name="updatedPassword" placeholder="Updated Password">
                <input type="password" name="confirmPassword" placeholder="Confirm your password">
                <input type="submit" value="Update">
            </div>
            <span class="text-danger" class="errorCard" style="display: none;">Error</span>
        </form>
    </div>

    <div id="change-picture-container" class="edit-container edit-profile-container">
        <button type="button" class="btn-close btn-close-white close-containers mb-4" aria-label="Close"></button>
        <form class="" action="/update-profile-picture" method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-around">
                <input type="file" name="updatedPicture">
                <input type="submit" value="Update">
            </div>
            <span class="text-danger" class="errorCard" style="display: none;">Error</span>
        </form>
    </div>


    <script src="/js/edit-profile.js"></script>
    <script src="/js/updatesValidation.js"></script>
    <script src="/js/updateFile.js"></script>
    
</body>
</html>