<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/progress-bar.css">
    <link rel="stylesheet" href="/styles/subtitles.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="all-page d-flex">
        <%- include('./includes/side-nav') %> 
        <section class="page-content">
            <%- include('./includes/nav-header') %> 
            <main class="d-flex flex-column data-container gap-3">
                <div class="row counters">
                    <div class="col words-counter d-flex flex-column gap-3">
                        <div class="words-wrapper d-flex justify-content-between align-items-center">
                            <h2>Words</h2>
                            <span class="fs-5 emphasis"><%= userProgress.words.wordsCounter %> </span>
                        </div>
                        <span>Last Register: <span class="emphasis"><%= userProgress.words.wordsCounter > 0 ? userProgress.words.userWords[userProgress.words.userWords.length - 1].wordName : 'No registers'  %> </span></span>
                    </div>

                    <div class="col hours-counter d-flex flex-column gap-3">
                        <div class="words-wrapper d-flex justify-content-between align-items-center">
                            <h2>Hours</h2>
                            <span class="fs-5 emphasis"><%= userProgress.hours.hoursCounter %></span>
                        </div>
                        <span>Last Register: <span class="emphasis"><%= userProgress.hours.hoursCounter > 0 ? Object.keys(userProgress.hours.hoursInfo[userProgress.hours.hoursInfo.length - 1]) : 'No registers' %> </span></span>
                    </div>
                </div>

                <div class="row informations">
                    <div class="col words-information d-flex flex-column gap-3">
                        <h1>Words information</h1>
                        <div class="progress">
                            <div id="nouns-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.words.wordsCounter > 0 ? words.nouns.percentage : '0'%>%"><%= userProgress.words.wordsCounter > 0 ? words.nouns.percentage : '0'%>%</div>
                            <div id="verbs-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.words.wordsCounter > 0 ? words.verbs.percentage : '0'%>%;"><%= userProgress.words.wordsCounter > 0 ? words.verbs.percentage : '0'%>%</div>
                            <div id="adverbs-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.words.wordsCounter > 0 ? words.adverbs.percentage : '0'%>%;"><%= userProgress.words.wordsCounter > 0 ? words.adverbs.percentage : '0'%>%</div>
                            <div id="adjectives-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.words.wordsCounter > 0 ? words.adjectives.percentage : '0'%>%;"><%= userProgress.words.wordsCounter > 0 ? words.adjectives.percentage : '0'%>%</div>
                            <div id="phrasal-verbs-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.words.wordsCounter > 0 ? words.phrasalVerbs.percentage : '0'%>%;"><%= userProgress.words.wordsCounter > 0 ? words.phrasalVerbs.percentage : '0'%>%</div>
                        </div>

                        <div class="words-subtitle d-flex flex-wrap gap-4">
                            <div class="words-subtitle-item d-flex align-items-center gap-1" id="nouns-subtitle">
                                <div class="subtitle-dot" id="nouns-dot"></div>
                                <span>Nouns: <%= words.nouns.quantity %></span>
                            </div>

                            <div class="words-subtitle-item d-flex align-items-center gap-1" id="nouns-subtitle">
                                <div class="subtitle-dot" id="verbs-dot"></div>
                                <span>Verbs: <%= words.verbs.quantity %></span>
                            </div>

                            <div class="words-subtitle-item d-flex align-items-center gap-1" id="nouns-subtitle">
                                <div class="subtitle-dot" id="adverbs-dot"></div>
                                <span>Adverbs: <%= words.adverbs.quantity %></span>
                            </div>

                            <div class="words-subtitle-item d-flex align-items-center gap-1" id="nouns-subtitle">
                                <div class="subtitle-dot" id="adjectives-dot"></div>
                                <span>Adjectives: <%= words.adjectives.quantity %></span>
                            </div>

                            <div class="words-subtitle-item d-flex align-items-center gap-1" id="nouns-subtitle">
                                <div class="subtitle-dot" id="phrasal-verbs-dot"></div>
                                <span>Phrasal Verbs: <%= words.phrasalVerbs.quantity %></span>
                            </div>
                        </div>
                    </div>

                    <div class="col hours-information  d-flex flex-column gap-3">
                        <h1>Hours information</h1>
                        <div class="progress">
                            <div id="year-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.hours.hoursCounter > 0 ? hours.hoursPercentage.daysPercentage : '0' %>%;"><%= userProgress.hours.hoursCounter > 0 ? hours.hoursPercentage.daysPercentage : '0' %>%</div>
                            <div id="hours-bar" class="progress-bar" role="progressbar" style="width: <%= userProgress.hours.hoursCounter > 0 ? hours.hoursPercentage.listeningPercentage : '0' %>%;"><%= userProgress.hours.hoursCounter > 0 ? hours.hoursPercentage.listenigPercentage : '0' %>%</div>
                        </div>

                        <div class="hours-subtitle d-flex flex-wrap gap-4">
                            <div class="hours-subtitle-item d-flex align-items-center gap-1">
                                <div class="subtitle-dot" id="year-dot"></div>
                                <span>Days of the year</span>
                            </div>

                            <div class="hours-subtitle-item d-flex align-items-center gap-1">
                                <div class="subtitle-dot" id="hours-dot"></div>
                                <span>Days listening</span>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>